name: Generate

on:
  push:
    tags:
      - 'v*'
  schedule:
    # https://crontab.guru/
    # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule
    - cron: '30 0/3 * * *'

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install

      - name: Generate
        run: yarn generate
        env:
          GH_DEV_TOKEN: ${{ secrets.GH_DEV_TOKEN }}

      - name: Release branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: release
          publish_dir: ./output
